<?xml version="1.0"?>
<connectionStrings>
	<add name="BlackBallArchitecture.Data.Properties.Settings.BlackBallArchitectureConnectionString"
		connectionString="Application Name=BlackBallArchitectureDev;Data Source=(local);Initial Catalog=BlackBallArchitecture;Integrated Security=True"
		providerName="System.Data.SqlClient" />
</connectionStrings>