<?xml version="1.0" encoding="utf-8" ?>
<unity>
	<typeAliases>
		<typeAlias alias="IAppSettingsRetriever" type="BlackBallArchitecture.Contracts.IAppSettingsRetriever, BlackBallArchitecture.Contracts" />
		<typeAlias alias="AppSettingsRetriever" type="BlackBallArchitecture.Logic.AppSettingsRetriever, BlackBallArchitecture.Logic" />

		<typeAlias alias="ILogger" type="BlackBallArchitecture.Contracts.ILogger, BlackBallArchitecture.Contracts" />
		<typeAlias alias="DatabaseLogger" type="BlackBallArchitecture.Logic.DatabaseLogger, BlackBallArchitecture.Logic" />
		<typeAlias alias="NoLogger" type="BlackBallArchitecture.Logic.NoLogger, BlackBallArchitecture.Logic" />

		<typeAlias alias="ISystemLogManager" type="BlackBallArchitecture.Contracts.DataManagers.ISystemLogManager, BlackBallArchitecture.Contracts" />
		<typeAlias alias="SystemLogManager" type="BlackBallArchitecture.Logic.DataManagers.SystemLogManager, BlackBallArchitecture.Logic" />
		
		<typeAlias alias="IEnvironment" type="BlackBallArchitecture.Contracts.IEnvironment, BlackBallArchitecture.Contracts" />
		<typeAlias alias="WebEnvironment" type="BlackBallArchitecture.Web.AppCode.WebEnvironment, BlackBallArchitecture.Web" />

		<typeAlias alias="IPersonManager" type="BlackBallArchitecture.Contracts.DataManagers.IPersonManager, BlackBallArchitecture.Contracts" />
		<typeAlias alias="PersonManager" type="BlackBallArchitecture.Logic.DataManagers.PersonManager, BlackBallArchitecture.Logic" />

		<typeAlias alias="ICacheManager" type="BlackBallArchitecture.Contracts.Cache.ICacheManager, BlackBallArchitecture.Contracts" />
		<typeAlias alias="WebCacheManager" type="BlackBallArchitecture.Web.AppCode.WebCacheManager, BlackBallArchitecture.Web" />

		<typeAlias alias="IEmailFormatValidator" type="BlackBallArchitecture.Contracts.Validators.IEmailFormatValidator, BlackBallArchitecture.Contracts" />
		<typeAlias alias="EmailFormatValidator" type="BlackBallArchitecture.Logic.Validators.EmailFormatValidator, BlackBallArchitecture.Logic" />

		<typeAlias alias="ICurrentUser" type="BlackBallArchitecture.Contracts.Security.ICurrentUser, BlackBallArchitecture.Contracts" />
		<typeAlias alias="AuthenticationManager" type="BlackBallArchitecture.Web.AppCode.Security.AuthenticationManager, BlackBallArchitecture.Web" />

		<typeAlias alias="IPersistentStorage" type="BlackBallArchitecture.Contracts.Cache.IPersistentStorage, BlackBallArchitecture.Contracts" />
		<typeAlias alias="HttpApplicationStorage" type="BlackBallArchitecture.Web.AppCode.HttpApplicationStorage, BlackBallArchitecture.Web" />

		<typeAlias alias="IRepositoryInitializer" type="BlackBallArchitecture.Contracts.Repositories.IRepositoryInitializer, BlackBallArchitecture.Contracts" />
		<typeAlias alias="EntityFrameworkInitializer" type="BlackBallArchitecture.Data.Initializers.EntityFrameworkInitializer, BlackBallArchitecture.Data" />

	</typeAliases>
	<containers>
		<container>
			<types>
				<type type="IRepositoryInitializer" mapTo="EntityFrameworkInitializer" />
				<type type="IPersistentStorage" mapTo="HttpApplicationStorage" />
				<type type="ICurrentUser" mapTo="AuthenticationManager" />
				<type type="IEmailFormatValidator" mapTo="EmailFormatValidator" />
				<type type="ICacheManager" mapTo="WebCacheManager" />
				<type type="IAppSettingsRetriever" mapTo="AppSettingsRetriever" />
				<type type="ILogger" mapTo="DatabaseLogger" />
				<type type="ISystemLogManager" mapTo="SystemLogManager" />
				<type type="IEnvironment" mapTo="WebEnvironment" />
				<type type="IPersonManager" mapTo="PersonManager" />
			</types>
		</container>
	</containers>
</unity>
