<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="combres" type="Combres.ConfigSectionSetting, Combres" />
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>
	<appSettings configSource="AppSettings.config" />

	<unity configSource="Unity.config" />
	<combres definitionUrl="~/combres.xml" />
	<connectionStrings configSource="ConnectionStrings.config" />

	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/login.aspx" name=".BlackBallArchitectureSiteAuth" timeout="120" slidingExpiration="true" />
		</authentication>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="ctl" src="~/Controls/ModalDialog.ascx" tagName="ModalDialog" />
				<add tagPrefix="ctl" src="~/Controls/QuickContact.ascx" tagName="QuickContact" />
				<add tagPrefix="ajax" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
			<namespaces>
				<add namespace="BlackBallArchitecture.Web" />
			</namespaces>
		</pages>

		<httpModules>
		</httpModules>
	</system.web>
	
	<system.webServer>
		<modules>
			<remove name="ScriptModule" />
			<remove name="UrlRoutingModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</modules>
		<handlers>
			<remove name="UrlRoutingHandler" />
			<add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</handlers>

	</system.webServer>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="AspNetAjaxBehavior">
					<enableWebScript />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="LocalServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
				<binding name="customBinding0">
					<binaryMessageEncoding />
					<httpTransport>
					</httpTransport>
				</binding>
			</customBinding>
		</bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
   multipleSiteBindingsEnabled="true" />
		<services>
			<service behaviorConfiguration="LocalServiceBehavior" name="BlackBallArchitecture.Web.Services.Reporting">
				<endpoint address="" binding="customBinding" bindingConfiguration="customBinding0"
				 contract="BlackBallArchitecture.Web.Services.Reporting" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service name="BlackBallArchitecture.Web.Services.Widgets.RenderService">
				<endpoint behaviorConfiguration="AspNetAjaxBehavior" binding="webHttpBinding"
				 contract="BlackBallArchitecture.Web.Services.Widgets.RenderService" />
			</service>
			<service name="BlackBallArchitecture.Web.Services.NotificationService">
				<endpoint address="" behaviorConfiguration="AspNetAjaxBehavior"
				 binding="webHttpBinding" contract="BlackBallArchitecture.Web.Services.NotificationService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
