@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="@Model.UniqueID" class="home">
	<h2>People list</h2>
	
	<table>
		<tr data-each-person="model.People" data-on-click="ViewPerson">
			<td data-html="person.DisplayName"></td>
		</tr>
	</table>
	
	<p>
		<a data-on-click="AddPerson">Create a new person</a>
	</p>
</div>


