<!DOCTYPE html>
<html>
<head>
	<title>BlackBall Architecture Demo - BOOM!</title>
	
	<!-- The base CSS class is always referenced - this contains styles that are common across the whole site -->
	<link href="@Url.Content("~/Content/base.min.css")" rel="stylesheet" type="text/css" />
	
	
	<script src="@Url.Content("~/scripts/lib/require.js")"></script>
	<script src="@Url.Content("~/scripts/lib/require-main.js")"></script>
</head>
	<body>
		<div class="sitetitle">BlackBall Architecture Demo</div>
		@RenderBody()
	</body>
</html>
