<?xml version="1.0" encoding="utf-8" ?>
<unity>
	<typeAliases>
		<typeAlias alias="IAppSettingsRetriever" type="NFTB.Contracts.IAppSettingsRetriever, NFTB.Contracts" />
		<typeAlias alias="AppSettingsRetriever" type="NFTB.Logic.AppSettingsRetriever, NFTB.Logic" />

		<typeAlias alias="ILogger" type="NFTB.Contracts.ILogger, NFTB.Contracts" />
		<typeAlias alias="DatabaseLogger" type="NFTB.Logic.DatabaseLogger, NFTB.Logic" />
		<typeAlias alias="NoLogger" type="NFTB.Logic.NoLogger, NFTB.Logic" />

		<typeAlias alias="ISystemLogManager" type="NFTB.Contracts.DataManagers.ISystemLogManager, NFTB.Contracts" />
		<typeAlias alias="SystemLogManager" type="NFTB.Logic.DataManagers.SystemLogManager, NFTB.Logic" />
		
		<typeAlias alias="IEnvironment" type="NFTB.Contracts.IEnvironment, NFTB.Contracts" />
		<typeAlias alias="WebEnvironment" type="NFTB.API.AppCode.WebEnvironment, NFTB.API" />

		<typeAlias alias="ICacheManager" type="NFTB.Contracts.Cache.ICacheManager, NFTB.Contracts" />
		<typeAlias alias="WebCacheManager" type="NFTB.API.AppCode.WebCacheManager, NFTB.API" />

		<typeAlias alias="IEmailFormatValidator" type="NFTB.Contracts.Validators.IEmailFormatValidator, NFTB.Contracts" />
		<typeAlias alias="EmailFormatValidator" type="NFTB.Logic.Validators.EmailFormatValidator, NFTB.Logic" />

		<typeAlias alias="ICurrentUser" type="NFTB.Contracts.Security.ICurrentUser, NFTB.Contracts" />
		<typeAlias alias="AuthenticationManager" type="NFTB.API.AppCode.AuthenticationManager, NFTB.API" />

		<typeAlias alias="IPersistentStorage" type="NFTB.Contracts.Cache.IPersistentStorage, NFTB.Contracts" />
		<typeAlias alias="HttpApplicationStorage" type="NFTB.API.AppCode.HttpApplicationStorage, NFTB.API" />

		<!--<typeAlias alias="IRepositoryInitializer" type="NFTB.Contracts.Repositories.IRepositoryInitializer, NFTB.Contracts" />
		<typeAlias alias="EntityFrameworkInitializer" type="NFTB.Data.Initializers.EntityFrameworkInitializer, NFTB.Data" />-->
    
    <typeAlias alias="IRepositoryInitializer" type="NFTB.Contracts.Repositories.IRepositoryInitializer, NFTB.Contracts" />
    <typeAlias alias="EntityFrameworkInitializer" type="NFTB.Logic.EntityFrameworkInitializer, NFTB.Logic" />

    <typeAlias alias="IPersonManager" type="NFTB.Contracts.DataManagers.IPersonManager, NFTB.Contracts" />
    <typeAlias alias="PersonManager" type="NFTB.Logic.DataManagers.PersonManager, NFTB.Logic" />

    <typeAlias alias="IAccountManager" type="NFTB.Contracts.DataManagers.IAccountManager, NFTB.Contracts" />
	  <typeAlias alias="AccountManager" type="NFTB.Logic.DataManagers.AccountManager, NFTB.Logic" />

    <typeAlias alias="IPlayerManager" type="NFTB.Contracts.DataManagers.IPlayerManager, NFTB.Contracts" />
    <typeAlias alias="PlayerManager" type="NFTB.Logic.DataManagers.PlayerManager, NFTB.Logic" />

    <typeAlias alias="ITermManager" type="NFTB.Contracts.DataManagers.ITermManager, NFTB.Contracts" />
    <typeAlias alias="TermManager" type="NFTB.Logic.DataManagers.TermManager, NFTB.Logic" />

    <typeAlias alias="IAttendanceManager" type="NFTB.Contracts.DataManagers.IAttendanceManager, NFTB.Contracts" />
    <typeAlias alias="AttendanceManager" type="NFTB.Logic.DataManagers.AttendanceManager, NFTB.Logic" />

	</typeAliases>
	<containers>
		<container>
			<types>
				<type type="IRepositoryInitializer" mapTo="EntityFrameworkInitializer" />
				<type type="IPersistentStorage" mapTo="HttpApplicationStorage" />
				<type type="ICurrentUser" mapTo="AuthenticationManager" />
				<type type="IEmailFormatValidator" mapTo="EmailFormatValidator" />
				<type type="ICacheManager" mapTo="WebCacheManager" />
				<type type="IAppSettingsRetriever" mapTo="AppSettingsRetriever" />
				<type type="ILogger" mapTo="DatabaseLogger" />
				<type type="ISystemLogManager" mapTo="SystemLogManager" />
				<type type="IEnvironment" mapTo="WebEnvironment" />
				<type type="IPersonManager" mapTo="PersonManager" />
        <type type="IPlayerManager" mapTo="PlayerManager" />
        <type type="IAccountManager" mapTo="AccountManager" />


			  <type type="ITermManager" mapTo="TermManager" />
        <type type="IAttendanceManager" mapTo="AttendanceManager" />


      </types>
		</container>
	</containers>
</unity>
