*{
	font-family:'century gothic', Tahoma, Verdana, Arial;
}

#postbackprogress{
	display:none;
}
	#postbackprogress img{
		width:150px;
	}

body{
	overflow-y:scroll;
	width:100%;
	height:100%;
	background-position:top left;
	background-repeat:repeat-x;
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:'century gothic', Tahoma, Verdana;
}

.stats{
}

blockquote{
	font-style:italic;
}

textarea{font-size:12px;}

table.rpt{
	border-collapse:collapse;
}
	table.rpt th {
		text-align:left;
		padding:5px;
	}
	table.rpt td{
		padding:5px;
	}
	
	table.rpt tr:nth-child(even){
		background-color:#eee;;
	}

p{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:10px;
}

a{
	zoom:1;
}

img{
	
}

.buttons {padding-top:10px;border-top:1px #cccccc solid;overflow:hidden;margin-bottom:10px;}
.buttons .buttons-primary{float:right;}
.buttons .buttons-secondary{float:left;}

a{color:#0000ff;text-decoration:underline;}
a:hover{text-decoration:none;}

a.new{
	background-image:url('i/btnbg/add.png');
	background-repeat:no-repeat;
	padding-left:15px;	
	background-position:0px 4px;
}

.links a{
	display:block;
	background-image:url('i/arrow_right_trans.png');
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:20px;
	margin-left:0px;
	margin-bottom:3px;
}

.links .moreinfo{
	display:block;
	padding-left:20px;
	margin-bottom:10px;
}

.links .moreinfo a {
	display:inline;
	background-image:none;
	padding-left:0px;
	margin-bottom:0px;
}

h1{
	font-size:24px;font-weight:normal;color:#555555;margin-bottom:10px;margin-top:10px;
	font-family:"Century Gothic", Arial;
}

h2{font-size:22px;font-weight:normal;color:#777777;margin-bottom:10px;margin-top:10px;}
h4{margin-top:0px; font-weight:bold;color:#333333;margin-bottom:2px;font-size:12px;}

h2.sub-heading{
	margin-top:0px;
	font-size:11px;
	color:#555555;
}

.button{
	border:1px solid #666;
	color:#333;
	font-weight:bold;
	background-color:#ccc;
	background-image:url(i/bgsolidtrans.png);
	background-repeat:repeat-x;
	background-position:0px -385px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding:5px 10px;
}

.secondary{
	border:1px solid #888888;
	color:#333333;
	background-color:#dddddd;
}
	a.secondary{
		text-decoration:none;
	}

.error{
	margin-top:5px;
	background-image:url('i/attn.gif');
	background-repeat:no-repeat;
	background-position:3px;
	padding-left:12px;
	display:block;
}

.info{
	margin-top:5px;
	display:block;
	background-image:url('i/info.gif');
	background-repeat:no-repeat;
	padding-left:20px;
}



.clickable, a{
	cursor:pointer;
}

.loadable{
	margin:0px 0px 0px 0px;
	padding:5px 15px;
}

.loading{
	background-color:#cccccc;
	color:#cccccc;
	background-image:url('i/loading.gif');
	background-repeat:no-repeat;
	background-position:center center;
}

.body-top-margin{
}

.body-container{
	margin-left:auto;
	margin-right:auto;
	width:1050px;
	overflow:hidden;
}

.body-container-center{
	width:900px;
	float:left;
}

.body-container-left{
	background-repeat:no-repeat;
	width:75px;
	float:left;
	height:30px;
}
.body-container-right{
	background-repeat:no-repeat;
	width:75px;
	float:right;
	height:30px;
}

.header{
	margin-top:5px;
	color:#2754b6;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	width:900px;
	border-bottom:1px #333 solid;
}
	.header .logo{
		margin-top:10px;
		background-image:url('i/logo_web.jpg');
		width:50px;
		height:50px;
		display:block;
		float:left;
		margin-right:10px;
	}
		
	.header .menu-container{
		float:left;
		margin-top:20px;
	}

		.header .menu-container .main-menu{
			text-align:right;
		}
	
		.header .menu-container .main-menu a{
			margin-right:20px;
			font-weight:normal;
			font-size:25px;
			color:#333;
			text-decoration:none;
		}

		.header .main-menu-c2a{
			float:right;
			margin-top:17px;
		}
			.header .main-menu-c2a span{
				margin-top:-5px;
			}

			.header .main-menu-c2a iframe{
				border:none; overflow:hidden; width:80px;margin-top:10px; height:21px;
			}

			.header .menu-container .main-menu a.show-browse{
				
			}

.main{
	padding:30px 0px 30px 0px;
	margin-top:20px;
}


